@media screen and (max-width: 480px) {
  .cnt-product-list {
    .product-item {
      .cnt-product-card {
        .name {
          font-size: 1.1rem;
          margin: 0.5rem 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .description {
          text-align: justify;
        }
        .thumbnail {
          width: 100%;
          height: 120px;
        }
      }
    }
  }
}
