.cnt-modal {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    overflow: hidden;
    touch-action: none;
  }
  .content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1.5rem;
    border-radius: 8px;
    z-index: 1001;
    min-width: 300px;
    max-width: 90%;
    color: black;
  }
  .body {
    max-height: 50vh;
    overflow-y: auto;
  }
  .cnt-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    .close-btn {
      padding: 0.5rem 1rem;
      background-color: white;
      color: #0984e3;
      border: none;
      border-radius: 6px;
      font-weight: 500;
      cursor: pointer;
    }
    .title {
      margin: 0;
    }
  }
}
